---
title: JAMstack with Google sheets data
layout: base.njk
---

<h1>Proof of concept: Google Sheets as persistent storage for web app data</h1>

<p>
  Static data content sample from a local .json file:
  {{ content.sheetTitle[1].columnName5 }}
</p>
<p>Google sheets data:</p>
<p id="documentTitle">Documnet name: {{ sheets.docTitle }}</p>
<p id="sheetTitle">Sheet: {{ sheets.sheetTitle }}</p>
<p id="rowCount">Total rows: {{ sheets.sheetRowCount }}</p>
<p id="cell">The specified call content: {{ sheets.cell }}</p>

<script src="./js/hook.js"></script>
